*{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Domine', serif;
    font-weight: bold;
}

p{
    color: #e7da10;
    font-size: 12px;
    line-height: 16pt;
}

a{
    color: #e7da10;
    font-size: 12px;
    line-height: 16pt;
    font-weight: bolder;
}

a:hover {
    color: black;
}

.main {
    padding-top: 30%; 
}

.rechts {
    padding-left: 5%
}

#inleiding {
    padding-top: 5%;
}

.nav a{
    background-color: #e7da10;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    height: 10px;
    padding-left: 0px;
}

.huidig {
    font-weight: bold;
}

.logo {
    margin-left: -14px;
    margin-bottom: -30px;
    margin-top: -20px;
    width:40%;
}

.link {
    font-weight: bold;
}

#over {
    background-image: url("../images/Lotte.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 15%; 
}

#contact {
    background-image: url("../images/thee.jpg");
    background-size: 150%;
    background-position: 50% 75%; 
}

.blokjes{
    margin-left: -120px;
    margin-top: -20%;
}

.rijblokjes {
    display: inline-block;
    height:80px;
    width: 80px;
    margin-right: 20px;
}

#facebook {
    background-image: url("../images/facebook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#instagram {
    background-image: url("../images/instagram.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#behance {
    background-image: url("../images/behance.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#parfum {
    background-image: url("../images/Parfum.jpg");
    background-size: 120%;
    background-position: 70% 100%; 
}

#vic {
    background-image: url("../images/vic.jpg");
    background-size: 115%;
    background-position: 50% 75%; 
}

#metoo {
    background-image: url("../images/metoo.jpg");
    background-size: 100%;
    background-position: 90% 75%; 
}

#africa {
    background-image: url("../images/Africa.jpg");
    background-size: 100%;
    background-position: 40% 10%; 
}

#brainstorm {
    background-image: url("../images/brainstorm.jpg");
    background-size: 115%;
    background-position: 90% 10%; 
}